.cards {
  margin-top: 51px;
  max-width: 880px;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  border-radius: 0 0 10px 10px;
}

.card__text {
  max-width: 219px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/Vector.svg) center;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button:hover {
  opacity: 60%;
}
