.header {
  margin: 45px 0 40px;
  padding-bottom: 41px;
  max-width: 880px;
  border-bottom: 1px solid rgb(84, 84, 84, 70%);
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
}

@media screen and (max-width: 880px) {
  .header {
    max-width: 700px;
  }
}

@media screen and (max-width: 580px) {
  .header {
    max-width: 320px;
    margin-top: 28px;
    margin-bottom: 42px;
  }

  .header__logo {
    max-width: 126px;
    max-height: 24px;
    margin-left: 27px;
  }
}
